<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simonekarani.moraliq">

    <compatible-screens>
        <screen android:screenSize="small" android:screenDensity="ldpi" />
        <screen android:screenSize="small" android:screenDensity="mdpi" />
        <screen android:screenSize="small" android:screenDensity="hdpi" />
        <screen android:screenSize="small" android:screenDensity="xhdpi" />
        <screen android:screenSize="small" android:screenDensity="420" />
        <screen android:screenSize="small" android:screenDensity="480" />
        <screen android:screenSize="small" android:screenDensity="560" />
        <screen android:screenSize="small" android:screenDensity="640" />
        <screen android:screenSize="normal" android:screenDensity="ldpi" />
        <screen android:screenSize="normal" android:screenDensity="mdpi" />
        <screen android:screenSize="normal" android:screenDensity="hdpi" />
        <screen android:screenSize="normal" android:screenDensity="xhdpi" />
        <screen android:screenSize="normal" android:screenDensity="420" />
        <screen android:screenSize="normal" android:screenDensity="480" />
        <screen android:screenSize="normal" android:screenDensity="560" />
        <screen android:screenSize="normal" android:screenDensity="640" />
        <screen android:screenSize="large" android:screenDensity="ldpi" />
        <screen android:screenSize="large" android:screenDensity="mdpi" />
        <screen android:screenSize="large" android:screenDensity="hdpi" />
        <screen android:screenSize="large" android:screenDensity="xhdpi" />
        <screen android:screenSize="large" android:screenDensity="420" />
        <screen android:screenSize="large" android:screenDensity="480" />
        <screen android:screenSize="large" android:screenDensity="560" />
        <screen android:screenSize="large" android:screenDensity="640" />
    </compatible-screens>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:configChanges="fontScale"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".dilemma.MoralDilemmaActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".dilemma.MDilemmaResultActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".medethics.MedicalEthicsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".medethics.MedEthicalResultActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".selfdriving.MoralMachineActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".selfdriving.MMachineResultActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".techethics.TechEthicsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".techethics.TechEthicsResultActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".bizethics.BusinessEthicsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".bizethics.BusinessEthicsResultActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>